.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  margin: 60px 0 30px;



  .category-title {
    font-size: 38px;
    margin-bottom: 25px;
    text-align: center;
  }
}
